* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  border: none;
  outline: none;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

:root {
  --primary-color: #fd4c41;
  --secondary-color: #228b22;
  --bg-1: #ecf0f3;
  --bg-2: #ffffff;
  --bg-3: #fff3cd;
  --bg-4: #d4f0f2;
  --bg-5: #dfe8fc;
  --bg-gradient: linear-gradient(145deg, #e2e8ec, #ffffff);
  --text-color-1: #1c1c1c;
  --text-color-2: #6c757d;
  --text-color-white: #ffffff;
  --shadow: 3px 3px 8px #d1d9e692, -2px -2px 15px #ffffff;
  --border: 1px solid #dce1e4;
  --link-color: #1877f2;
  --error-text: #f44336;
  --success-text: #4caf50;
  --warning-bg: #decd9dc0;
  --warning-text: #2f2f2f;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  min-height: 100vh;
  background: var(--bg-1);
  color: var(--text-color-1);
}

main {
  width: 100%;
  min-height: 95vh;
  padding: 13rem clamp(2rem, 3vw, 5rem) 3rem clamp(2rem, 3vw, 5rem);
}

section {
  max-width: 1500px;
  margin: 5rem auto 0 auto;
}

p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-weight: 400;
  letter-spacing: 0.6px;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

h4 {
  font-size: 1.6rem;
  font-weight: 600;
}

h5 {
  font-size: 1.4rem;
  font-weight: 500;
}

input {
  border: var(--border);
  border-radius: 2rem;
  padding: 0.7rem 1rem;
  font-size: 1.5rem;
  transition: all 0.3s;
  font-weight: 400;
  letter-spacing: 0.5px;
}
input:focus {
  border-color: var(--primary-color);
}
input::placeholder {
  color: var(--text-color-2);
  font-size: 1.35rem;
  font-weight: 400;
}

/* general styles for buttons */
.btn-primary,
.btn-primary-alt {
  padding: 0.8rem 1rem;
  border-radius: 2rem;
  background-color: var(--primary-color);
  min-width: 8rem;
  color: var(--text-color-white);
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  transform-origin: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  transition: all 0.3s;
}
.btn-primary:hover {
  opacity: 0.8;
}
.btn-primary:active,
.btn-primary-alt:active {
  transform: scale(0.9);
}

.btn-primary i,
.btn-primary-alt i {
  font-size: 1.2rem;
}

.btn-primary-alt {
  border: 1px solid var(--primary-color);
  background-color: transparent;
  color: var(--primary-color) !important;
  font-size: 1.3rem;
}
.btn-primary-alt:hover {
  background-color: var(--primary-color);
  color: var(--text-color-white) !important;
}

.btn-secondary {
  padding: 0.8rem 1rem;
  border-radius: 2rem;
  background-color: transparent;
  border: 1px solid var(--secondary-color);
  min-width: 10rem;
  color: var(--secondary-color);
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  transform-origin: center;
  transition: all 0.3s;
}
.btn-secondary:hover {
  background-color: var(--secondary-color);
  color: var(--text-color-white);
}
.btn-secondary:active {
  scale: 0.9;
}

.btn-secondary i {
  font-size: 1rem;
}

/* general class for display flex */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.flex-clmn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.drop-down {
  font-size: 1rem;
}
